:root {
    /* colors from: https://designshack.net/articles/trends/best-website-color-schemes/ */
    --orange: #E56B1F;
    --purple: #32064A;
    --yellow: #FCD02C;
    --pink: #E42C6A;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
}

nav {
    float: right;
    margin-right: 7.5vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    color: white;
    padding: 0 0.5em;
}

section:first-of-type {
    padding: 3em 0;
}

section:not(.banner) {
    padding: 5em 0;
}

.content {
    width: 80vw;
    margin: auto;
}

section:first-of-type {
    background-color: var(--purple);
}

section:first-of-type .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section:first-of-type .content > * {
    border: 1px solid red;
    color: white;
    text-align: center;
}

.input-group {
    display: flex;
    width: 75vw;
    height: 2em;
}

section:first-of-type .input-group input[type=text] {
    margin-right: 1em;
    flex: 2 0 auto;
}

.input-group input[type=submit] {
    all: unset;
    height: 100%;
    background-color: var(--orange);
    border-radius: .2em;
    flex: 1 0 auto;
}

section:first-of-type h1{
    margin: 0;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}


section:not(.banner) > div {
    display: flex;
}


section:not(.banner) img {
    margin-right: 4rem;
    width: 5%;
    height: 5%;
}

.content-group h2 {
    margin-top: 0;
}


section:nth-child(n+2):nth-child(-n+3) {
    border-bottom: 2px dashed grey;
}


footer p {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
    color: white;
    text-align: center;
    background-color: var(--purple);
    height: 5rem;
}
